*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: goldenrod;
    margin: 0;
    font-family: 'Courier New';
    justify-content: center;
}

.return {
    justify-content: left;
    margin-left: 50px;
    display: inline-flex;
    font-size: 50px;
    color: goldenrod;
}

.status-summary-reset {
    display: flex; 
    font-size: 20px;
    text-align: top;
    justify-content:space-evenly;
}

.reset:hover, .summary:hover, .return:hover {
    cursor: pointer;
    color: white;
}

#overlay {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 2;
}

#text {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.container {
    background: black;
    margin: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game-grid {
    background: goldenrod;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    cursor: pointer;
    background: black;
    font-family: 'Hurricane', cursive;
}

.x, .o {
    cursor: default;
}

.x::after {
    content: 'X';
    color: red;
    font-size: 130px;
}

.o::after {
    content: 'O';
    color: blue;
    margin-right: 30px;
    font-size: 130px;
}

.won::after {
    color: white;
}
