* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: goldenrod;
    display: flex;
    font-family: 'Courier New';
    justify-content: center;
}

.return{
    display: inline-flex;
    font-size: 50px;
    color: goldenrod;
}

.container {
    margin: 50px;
    padding: 50px;
    border-radius: 20px;
}

.status-summary-reset {
    display: flex;
    font-size: 25px;
    margin-top: 25px;
    justify-content:space-evenly;
    height: 30px;
}

.reset:hover, .summary:hover, .return:hover {
    cursor: pointer;
    color: white;
}



/* 

.game-grid {
    display: grid;
    background-color: darkgoldenrod;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 25px;

}

.game-cell {
        height: 150px;
        width: 150px;
        display: flex;
        background-color: black;
        cursor: pointer;
        /* justify-content: center; */
        /* align-items: center;
        font-family: 'Hurricane', cursive;
}

.x::after {
    content: 'X';
    color: red;
    font-size: 125px;
}

.o::after {
    content: 'O';
    color: blue;
    padding: 5px;
    font-size: 125px;
} */
