<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about_page.css">
    <title>About Page</title>
</head>
<body>
    <div class="return"> &#8617 </div> 
    <h1 class="title">About Page</h1>
    <p> A Tic Tac Toe game based on Reinforcement Learning.</p>
    <p><u style="color:goldenrod;">Author:</style></u> Aliasgar Merchant </p>
    <p><u style="color:goldenrod;">Email:</style></u> aliasgarm2000@gmail.com </p>
    <p><u style="color:goldenrod;">About Game:</style></u> The AI is trained using Iterative Q-Learning. The computer has trained
        itself over 500,000 games thereby reaching the optimal policy using a reward based
        approach. Rewards given to the computer include: </p>
    <p> &emsp;&emsp; 1. For every win = +1     </p>
    <p> &emsp;&emsp; 2. For every loss = -10   </p>
    <p> &emsp;&emsp; 3. For every missed winning move = -100    </p>
    <script src="/static/about.js"></script>
</body>
</html>