<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/game_page.css">
    <title>Game Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="return"> &#8617 </div> 
        <div class="status-summary-reset">
            <div class="status">Status: </div>
            <div class="summary">Summary</div>
            <div class="reset">Reset</div>
        </div>

        <div class="game-grid">
            <div class="game-cell top-left"></div>
            <div class="game-cell top-center"></div>
            <div class="game-cell top-right"></div>
            <div class="game-cell middle-left"></div>
            <div class="game-cell middle-center"></div>
            <div class="game-cell middle-right"></div>
            <div class="game-cell bottom-left"></div>
            <div class="game-cell bottom-center"></div>
            <div class="game-cell bottom-right"></div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>