<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/info_page.css">
    <title>Info Page</title>
</head>
<body>
    <h1 class="title">Information Page</h1>
    <p><u>Rules of the Game:</u></p>
    <p>1. The game is played on a grid that's 3 squares by 3 squares.</p>
    <p>2. Each player takes turns to mark an empty square.</p>
    <p>3. The first player to get 3 marks in a row (up, down, across, or diagonally) is the winner.</p>
    <p>4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.</p>
    <br>
    <p><u>Tips:</u></p>
    <p>1. Figure out how to get three marks in a row.</p>
    <p>2. Think ahead.</p>
    <p>3. Carefully observe the opponent's moves</p>

</body>
</html>